.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
  }

.button {
  padding-right: 2rem;
  font-family: cursive;
  color: brown;
}

.label{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: crimson;
}